@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;

    overflow-y: scroll;
  }

  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @font-face {
    font-family: 'Satoshi';
    src: url('/_static/fonts/Satoshi-Variable.woff2') format('woff2');
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Satoshi';
    src: url('/_static/fonts/Satoshi-VariableItalic.woff2') format('woff2');
    font-weight: 300 900;
    font-display: swap;
    font-style: italic;
  }

  @font-face {
    font-family: 'IBM Plex Mono';
    src: url('/_static/fonts/IBMPlexMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  :root,
  [data-theme='dark'] {
    /* typography */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;

    /* brand */
    --color-brand-1: 247deg 44% 4%;
    --color-brand-2: 249deg 45% 6%;
    --color-brand-3: 253deg 46% 8%;
    --color-brand-4: 251deg 46% 12%;
    --color-brand-5: 249deg 45% 20%;
    --color-brand-6: 250deg 45% 25%;
    --color-brand-7: 250deg 45% 38%;
    --color-brand-8: 250deg 45% 49%;
    --color-brand-9: 250deg 62% 58%;
    --color-brand-10: 250deg 62% 68%;
    --color-brand-11: 251deg 61% 89%;
    --color-brand-12: 240deg 50% 99%;

    /* gray */
    --color-gray-1: 245deg 38% 6%;
    --color-gray-2: 246deg 21% 9%;
    --color-gray-3: 246deg 17% 11%;
    --color-gray-4: 246deg 15% 13%;
    --color-gray-5: 240deg 10% 17%;
    --color-gray-6: 247deg 8% 23%;
    --color-gray-7: 248deg 6% 28%;
    --color-gray-8: 248deg 5% 34%;
    --color-gray-9: 250deg 2% 49%;
    --color-gray-10: 240deg 2% 57%;
    --color-gray-11: 240deg 3% 75%;
    --color-gray-12: 240deg 100% 99%;

    /* orange */
    --color-orange-1: 18deg 68% 7%;
    --color-orange-2: 19deg 42% 11%;
    --color-orange-3: 17deg 42% 14%;
    --color-orange-4: 20deg 42% 20%;
    --color-orange-5: 20deg 48% 23%;
    --color-orange-6: 20deg 54% 26%;
    --color-orange-7: 20deg 58% 31%;
    --color-orange-8: 20deg 66% 42%;
    --color-orange-9: 20deg 100% 62%;
    --color-orange-10: 20deg 100% 65%;
    --color-orange-11: 20deg 100% 68%;
    --color-orange-12: 18deg 100% 97%;

    /* blue */
    --color-blue-1: 225deg 19% 12%;
    --color-blue-2: 227deg 28% 14%;
    --color-blue-3: 224deg 36% 15%;
    --color-blue-4: 224deg 44% 17%;
    --color-blue-5: 226deg 50% 19%;
    --color-blue-6: 230deg 71% 29%;
    --color-blue-7: 237deg 78% 38%;
    --color-blue-8: 237deg 82% 44%;
    --color-blue-9: 230deg 68% 48%;
    --color-blue-10: 230deg 63% 53%;
    --color-blue-11: 223deg 100% 73%;
    --color-blue-12: 224deg 65% 97%;

    /* purple */
    --color-purple-1: 270deg 7% 11%;
    --color-purple-2: 273deg 13% 14%;
    --color-purple-3: 272deg 15% 17%;
    --color-purple-4: 273deg 18% 19%;
    --color-purple-5: 274deg 21% 23%;
    --color-purple-6: 274deg 23% 27%;
    --color-purple-7: 274deg 27% 39%;
    --color-purple-8: 275deg 34% 53%;
    --color-purple-9: 275deg 97% 75%;
    --color-purple-10: 275deg 96% 79%;
    --color-purple-11: 276deg 96% 89%;
    --color-purple-12: 276deg 100% 99%;

    /* red */
    --color-red-1: 340deg 5% 11%;
    --color-red-2: 6deg 15% 13%;
    --color-red-3: 4deg 21% 15%;
    --color-red-4: 8deg 28% 17%;
    --color-red-5: 7deg 35% 20%;
    --color-red-6: 7deg 38% 23%;
    --color-red-7: 8deg 48% 32%;
    --color-red-8: 8deg 55% 46%;
    --color-red-9: 8deg 85% 59%;
    --color-red-10: 8deg 85% 66%;
    --color-red-11: 8deg 85% 82%;
    --color-red-12: 9deg 78% 98%;

    /* green */
    --color-green-1: 195deg 7% 11%;
    --color-green-2: 180deg 15% 12%;
    --color-green-3: 176deg 22% 14%;
    --color-green-4: 174deg 27% 15%;
    --color-green-5: 174deg 34% 17%;
    --color-green-6: 174deg 38% 20%;
    --color-green-7: 173deg 48% 26%;
    --color-green-8: 174deg 59% 41%;
    --color-green-9: 173deg 61% 47%;
    --color-green-10: 174deg 54% 60%;
    --color-green-11: 174deg 55% 77%;
    --color-green-12: 173deg 50% 97%;
  }

  [data-theme='light'] {
    /* typography */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 640;

    /* brand */
    --color-brand-1: 240deg 50% 99%;
    --color-brand-2: 252deg 56% 98%;
    --color-brand-3: 248deg 67% 98%;
    --color-brand-4: 251deg 62% 95%;
    --color-brand-5: 250deg 63% 93%;
    --color-brand-6: 251deg 61% 89%;
    --color-brand-7: 250deg 62% 82%;
    --color-brand-8: 250deg 62% 68%;
    --color-brand-9: 250deg 62% 58%;
    --color-brand-10: 250deg 51% 53%;
    --color-brand-11: 250deg 42% 45%;
    --color-brand-12: 251deg 46% 12%;

    /* gray */
    --color-gray-1: 240deg 100% 99%;
    --color-gray-2: 240deg 56% 98%;
    --color-gray-3: 240deg 33% 97%;
    --color-gray-4: 240deg 20% 95%;
    --color-gray-5: 240deg 11% 91%;
    --color-gray-6: 240deg 6% 87%;
    --color-gray-7: 240deg 5% 83%;
    --color-gray-8: 240deg 3% 75%;
    --color-gray-9: 240deg 2% 69%;
    --color-gray-10: 240deg 2% 57%;
    --color-gray-11: 248deg 5% 34%;
    --color-gray-12: 246deg 21% 9%;

    /* orange */
    --color-orange-1: 15deg 100% 99%;
    --color-orange-2: 18deg 100% 97%;
    --color-orange-3: 21deg 100% 95%;
    --color-orange-4: 20deg 100% 92%;
    --color-orange-5: 20deg 100% 89%;
    --color-orange-6: 20deg 100% 89%;
    --color-orange-7: 20deg 100% 82%;
    --color-orange-8: 20deg 100% 78%;
    --color-orange-9: 20deg 100% 58%;
    --color-orange-10: 20deg 85% 54%;
    --color-orange-11: 20deg 71% 50%;
    --color-orange-12: 20deg 42% 20%;

    /* blue */
    --color-blue-1: 225deg 67% 99%;
    --color-blue-2: 224deg 65% 97%;
    --color-blue-3: 224deg 65% 93%;
    --color-blue-4: 221deg 62% 90%;
    --color-blue-5: 222deg 63% 85%;
    --color-blue-6: 224deg 63% 82%;
    --color-blue-7: 226deg 63% 71%;
    --color-blue-8: 230deg 63% 57%;
    --color-blue-9: 237deg 82% 44%;
    --color-blue-10: 237deg 82% 44%;
    --color-blue-11: 237deg 78% 38%;
    --color-blue-12: 224deg 36% 15%;

    /* purple */
    --color-purple-1: 224deg 36% 15%;
    --color-purple-2: 274deg 100% 99%;
    --color-purple-3: 276deg 100% 97%;
    --color-purple-4: 275deg 94% 94%;
    --color-purple-5: 275deg 95% 92%;
    --color-purple-6: 276deg 96% 89%;
    --color-purple-7: 275deg 97% 85%;
    --color-purple-8: 275deg 96% 81%;
    --color-purple-9: 275deg 97% 75%;
    --color-purple-10: 275deg 97% 75%;
    --color-purple-11: 275deg 30% 48%;
    --color-purple-12: 273deg 18% 19%;

    /* red */
    --color-red-1: 15deg 100% 99%;
    --color-red-2: 11deg 85% 97%;
    --color-red-3: 9deg 84% 95%;
    --color-red-4: 9deg 84% 93%;
    --color-red-5: 8deg 85% 89%;
    --color-red-6: 8deg 85% 87%;
    --color-red-7: 8deg 85% 79%;
    --color-red-8: 8deg 85% 69%;
    --color-red-9: 8deg 85% 59%;
    --color-red-10: 8deg 71% 55%;
    --color-red-11: 8deg 52% 38%;
    --color-red-12: 8deg 28% 17%;

    /* green */
    --color-green-1: 160deg 60% 99%;
    --color-green-2: 173deg 50% 97%;
    --color-green-3: 173deg 56% 94%;
    --color-green-4: 173deg 54% 91%;
    --color-green-5: 174deg 54% 86%;
    --color-green-6: 174deg 54% 83%;
    --color-green-7: 173deg 54% 73%;
    --color-green-8: 173deg 54% 67%;
    --color-green-9: 173deg 61% 47%;
    --color-green-10: 174deg 59% 41%;
    --color-green-11: 173deg 48% 26%;
    --color-green-12: 174deg 27% 15%;
  }
}
